@use "../../../scss/" as *;

.welcome {
  &-content {
    @include flex(center, center);
  }

  &-info,
  &-img {
    width: 50%;
    height: 100%;
  }

  &-info {
    @include flex(flex-start, flex-end);

    .welcome-box {
      padding-left: 15rem;

      .description {
        font-size: 1rem;
      }

      .btns > * ~ * {
        margin-left: 1rem;
      }
    }
  }

  &-img {
    @include flex(flex-start, flex-start);

    top: -80px;
   
    .welcome-slide {
      height: 915px;
      width: 915px;
      overflow: hidden;

      canvas {
        display: block;
      }
    }
  }
}
