@use "../../scss" as *;

.section {
  height: 10%;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 1s ease;

  &.active {
    visibility: visible;
  }

  &.active &-content {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.3s;
  }

  &-content {
    position: relative;
    height: 100%;
    transform: scale(3);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.5s ease;
    padding-top: $header-height;
    background-position: left;
  }
}
